$font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$gradient-bg: linear-gradient(135deg, #2c3e50, #4b0082);
$brand-color: #f3c556;
$secondary-color: #fbeeca;
$highlight-color: #e81cff;
$button-bg: #303C5F;
$button-border: #fff;
$btn-outline-success-color: #FC75B2;
$btn-outline-success-hover-bg: #79198f;
$table-bg: #d1d1d1;
$table-header-bg: #f2f2f2;
$table-row-even-bg: #fafafa;
$footer-bg: #2b3035;
